@eai-material-ui:registry=https://repo.elmt.io/api/npm/all-npm-release/
//repo.elmt.io/api/npm/all-npm-release/:_authToken=${ARTIFACTORY_ACCESS_TOKEN}
//repo.elmt.io/api/npm/all-npm-release/:email=${ARTIFACTORY_LOGIN}
//repo.elmt.io/api/npm/all-npm-release/:always-auth=true
