
@eai-material-ui:registry=https://repo.elmt.io/api/npm/all-npm-release/
//repo.elmt.io/api/npm/all-npm-release/:_auth=${ARTIFACTORY_NPM_AUTH}
//repo.elmt.io/api/npm/all-npm-release/:email=${ARTIFACTORY_LOGIN}
//repo.elmt.io/api/npm/all-npm-release/:always-auth=true
